body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  background-color: #002044;
  color: #fff;
}

.calculator {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 15px 5px #004080;
}

.calculator p {
  margin: 0px;
  padding: 5px 0;
}

.calculator button {
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #004080; /* Dark Blue */
  color: #fff;
}

.calculator button:hover {
  background-color: #0059b3; /* Dark Blue (hover) */
}

select {
  border: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

select#dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
}

option {
  background-color: #fff;
  color: #333;
  padding: 8px;
}
