/* Body Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  background-color: #f3e5f5;
}

/* Calculator Styles */
.calculator {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 15px 15px rgba(156, 39, 176, 0.1);
}

.calculator p {
  margin: 0px;
  padding: 5px 0;
}

/* Button Styles */
.calculator button {
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #9c27b0;
  color: #fff;
}

.calculator button:hover {
  background-color: #7b1fa2;
}

select {
    border: none;
    background: transparent;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

select#dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
}

option {
    background-color: #fff;
    color: #333;
    padding: 8px;
}